* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 600vh;
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.max-width {
    margin: 0 auto;
    max-width: 1500px;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(65, 1fr);
    height: 100%;
    gap: 10px;
    margin-top: 2rem;
}

.nav {
    grid-column: span 8;
    width: 100%;
    background-color: rgb(207, 207, 207);
    border-radius: 1rem;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav .logo h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #008dd2;
    color: white;
    border-radius: 1rem;
    padding: 5px;
    font-size: .8rem;
    text-align: center;
}
.nav .logo h6 {
    font-size: .5rem;
    text-align: center;
}
.nav .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav .nav-links .links a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    margin-right: 2.3rem;
}
.nav .nav-links button {
    background-color: #65a5ec;
    padding: 1rem;
    font-weight: 200;
    font-size: .9rem;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 1rem;
    border: none;
}

.hero {
    grid-column: span 8;
    grid-row: span 8;
    width: 100%;
}
.hero .hero-img {
    width: 100%;
    height: 70%;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}
.hero .hero-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

.carousel {
    grid-column: span 8;
    grid-row: span 6;
    margin-top: 3rem;
}
.carousel .carousel-top {
    margin-left: 8rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 3rem;
}
.carousel .carousel-top span {
    color: #65a5ec;
}
.carousel .carousel-top button {
    padding: 10px 3rem;
    background-color: white;
    font-weight: 600;
    color: #5790d1;
    border: .5px solid #65a5ec;
    border-radius: 2rem;
    margin-left: 1rem;
}
.carousel .carousel-img-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}
.carousel .carousel-img-wrapper .carousel-img {
    width: 100%;
    height: 230px;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}   
.carousel .carousel-img-wrapper .carousel-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

.courses {
    grid-column: span 8;
    grid-row: span 10;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.courses h1 {
    text-align: center;
    margin-bottom: 2rem;
}
.courses .courses-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
    width: 100%;
}

/* course card  */
.courses .courses-wrapper .card {
    background-color: red;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 250px;
    padding: 2rem;
}
.card-left {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}
.card-left .left-top {
    margin-top: 2rem;
}
.card-right {
    flex: 1;
    height: 100%;
}
.card-right .card-right-img-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}
.card-right .card-right-img-wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}
.card.two {
    transform: scale(1.02);
    box-shadow: 2px 6px 10px 2px rgba(0, 0, 0, 0.6);
}
.card.five {
    transform: scale(1.02);
    box-shadow: 2px 6px 10px 2px rgba(0, 0, 0, 0.6);
}
.courses .courses-wrapper .card .card-left button {
    border-radius: 2rem;
    padding: 10px 1.8rem;
    border: none;
    font-size: x-small;
    color: white;
    background-color: #65a5ec;
}
.courses button {
    margin-top: 2rem;
    padding: 10px 3rem;
    background-color: white;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.7);
    border: .5px solid #65a5ec;
    border-radius: 2rem;
    margin-left: 1rem;
}

/* sign-in form  */
.sign-in {
    grid-column: span 8;
    grid-row: span 10;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.sign-in .form-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 90%;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
    padding: 3rem;
}
.sign-in .form-wrapper h4 {
    color: #008dd2;
}
.sign-in .form-wrapper form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: inherit;
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
}
.sign-in .form-wrapper form .form-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1.5rem;
}
.sign-in .form-wrapper form .form-content label {
    font-size: small;
}
.sign-in .form-wrapper form .form-content input {
    width: 100%;
    height: 4rem;
    margin-top: 10px;
    border-radius: 1rem;
    padding-left: 1rem;
}
.sign-in .form-wrapper form p {
    font-size: small;
    margin-top: 10px;
}
.sign-in .form-wrapper form button {
    width: 98%;
    margin-top: 3rem;
    padding: 1.3rem;
    align-self: center;
    border-radius: 1rem;
    font-size: x-small;
    border: none;
    background-color: #65a5ec;
    color: white;
}
.sign-in .sign-in-img {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}
.sign-in .sign-in-img img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

/* Inida map section  */
.India-map {
    grid-column: span 8;
    grid-row: span 10;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
}
.India-map h1 span {
    color: #65a5ec;
}
.India-map-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
    height: 100%;
}
.India-map-wrapper .map {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.India-map-wrapper .map img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}
.minars {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    background-color: #eee9fd;
    height: 80%;
    margin-top: 2rem;
    border-radius: 1rem;
}
.minar-card {
    height: 100%;
}
.minar-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.minar-card-header h3 {
    color: rgba(0, 0, 0, 0.7);
}
.minar-card-header span {
    color: #65a5ec;
}
.minar-cards-wrapper {
    margin-top: 6rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
    height: inherit;
}
.minar-cards-wrapper .minar-card-img {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}
.minar-cards-wrapper .minar-card-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}
.minar-cards-wrapper .minar-card-img.minar-active {
    transform: scale(1.05);
    box-shadow: 1px 4px 10px 4px rgba(0, 0, 0, 0.4);
}

/* gurukripa section  */
.why-gurukripa {
    grid-column: span 8;
    grid-row: span 8;
    width: 100%;
    height: 100%;
}
.why-gurukripa h1 {
    font-size: 8rem;
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.638);
}
.why-gurukripa .gurukripa-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
    height: 100%;
}

.masterminds {
    grid-column: span 10;
    grid-row: span 3;
    width: 100%;
}
.masterminds .masterminds-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}
.masterminds .masterminds-cards .mastermind-card-pic {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 2rem;
}
.masterminds .masterminds-cards .mastermind-card-pic img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}
.masterminds .masterminds-cards .mastermind-single_card {
    grid-column: span 2;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 2rem;
    border-radius: 1rem;
    background-color: grey;

    position: relative;
}
.mastermind-single_card .m-card-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.mastermind-single_card .m-card-mid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mastermind-single_card .m-card-btm {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.mastermind-single_card .m-card-btm .experience-stkr{
    width: 200px;
    height: 80px;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}
.mastermind-single_card .m-card-btm .experience-stkr img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}
.m-card-stkr {
    position: absolute;
    z-index: 10;
}
.m-card-stkr.one {
    width: 5rem;
    height: 5rem;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    right: 1rem;
}
.m-card-stkr.two {
    width: 2rem;
    height: 2rem;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    left: 5rem;
}
.m-card-stkr.three {
    width: 2rem;
    height: 2rem;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}
.m-card-stkr.one img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}
.m-card-stkr.two img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}
.m-card-stkr.three img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

.elearning-cards {
    grid-column: span 8;
    grid-row: span 4;
    width: 100%;

    position: relative;
}
.elearning-cards h1 {
    position: absolute;
}
.elearning-cards .elearning-card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    height: 100%;
}

.program-cards {
    grid-column: span 8;
    grid-row: span 3;
    width: 100%;

    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
}
.program-cards .program-card-wrapper {
    grid-row: span 3;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    height: 100%;
}

.testimonials {
    grid-column: span 8;
    grid-row: span 3;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.explore {
    grid-column: span 8;
    grid-row: span 8;
    width: 100%;

    display: grid;
    grid-template-rows: repeat(4, 1fr);
}
.explore .explore-btm {
    grid-row: span 3;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 20px;
    height: 100%;
}
.explore .explore-btm .explore-img {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}
.explore .explore-btm .explore-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    grid-column: span 8;
    grid-row: span 5;
}

